body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.container {
  border: 1px solid black;
  padding: 10px;
  width: 40%;
}

.requestBlock {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  margin-bottom: 10px;
}

.requestBlock div {
  display: block;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 1px solid black;
}